body {
    background-color: #E0E0E0;
}

#page {
	margin: 80px 15px 0 15px;
}

a.logoLink{
	padding:6px 10px;
	margin-left:0;
}

a.logoLink img{
	max-height:30px;
}

.gallery {
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
	justify-content: space-between;
	height: 100vh;
  }
  
  .gallery a {
	flex-grow: 1;
	flex-basis: 125px;
	max-width: 300px;
	margin: 5px;
  }
  
  .gallery img {
	height: 100%;
	width: 100%;
  }