<div class="container">
    <div class="panel">
        <div class="panel-heading">
            <h2>Hobbies</h2>
        </div>
        <div class="gallery">
                <a><img src="https://unsplash.it/200/150"/></a>
                <a><img src="https://unsplash.it/200/150"/></a>
                <a><img src="https://unsplash.it/200/150"/></a>
                <a><img src="https://unsplash.it/200/150"/></a>
                <a><img src="https://unsplash.it/200/150"/></a>
                <a><img src="https://unsplash.it/200/150"/></a>
                <a><img src="https://unsplash.it/200/150"/></a>
                <a><img src="https://unsplash.it/200/150"/></a>
                <a><img src="https://unsplash.it/200/150"/></a>
                <a></a>
                <a></a>
                <a></a>
                <a></a>
                <a></a>
                <a></a>
                <a></a>
                <a></a>
                <a></a>
            </div>
    </div>
</div>